* {
  padding: 0;
  margin: 0;
  size: 62.5%;
}

body {
  background-color: #ffffff;
  box-sizing: border-box;
  background-color: #ffffff;
}
.navbar {
  background-color: #882599;

  padding-top: 1rem;
  padding-bottom: 0;
  margin: 0;
}
.navbar img {
  height: 5rem;
}
.nav {
  border-bottom: none;
  color: #ffffff;
}
.nav-item a {
  text-decoration: none;
  color: rgb(136, 136, 136);
}
.nav-item a:active {
  text-decoration: none;
  color: #6d6a6a;
}
.nav-item a:hover {
  text-decoration: none;
  color: #6d6a6a;
}

.dropdown:hover {
  text-decoration: none;
  color: #6d6a6a;
}

.navbar-toggler-icon {
  border: none;
}
.nav-link {
  color: white;
}

.navbar-toggler {
  margin-bottom: 1rem;
  border: none;
  color: #ffffff;
}

.offcanvas {
  background-color: #882599;
}

/* News Section */
.news-section {
  display: flex;
  margin: 10rem 0 0 0;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}

.news-img {
  height: 12rem;
  width: 100%;
  border-radius: 5px;
}
.card {
  justify-self: center;
  width: 15rem;
  border-radius: 5px;
  padding-right: 0rem;
  padding-left: 0;
  margin-left: 5rem;
  background-color: #ffffff7a;
  -webkit-box-shadow: 10px 10px 119px -60px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 119px -60px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 119px -60px rgba(0, 0, 0, 0.75);

  transform-origin: 0 0;
  transition: transform 0.25s, visibility 0.25s ease-in;

  /* The Transformation */
}

.card:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.author {
  gap: 0.5rem;
  align-items: center;
  padding-left: 0.7rem;
}
.author img {
  box-sizing: border-box;
  border-radius: 50%;
  --bs-gutter-x: 0rem;
  height: 2rem;
  max-width: 2rem;
  align-self: center;
  /* overflow: hidden;
  margin: 0 2.5rem;
  max-width: rem; */
  /* height: 1rem; */
  /* width: 0.1rem; */
  /* font-size: 0.005rem; */
}
.author h3 {
  font-size: 0.9rem;
  text-align: start;
  justify-self: center;
}

/* Footer */
.footer {
  background-color: #882599;
  height: 15rem;
}
.menu {
  padding-top: 2rem;
}
.menu-item a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0.5rem;
}
